@charset "utf-8";

/* 초기화 */
body,
h2,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* gallery */
#gallery {
  position: relative;
  width: 400px;
  margin: 20px auto 0;
  padding: 0 50px;
  border: 1px solid #000;
  text-align: center;
}

#gallery h2 {
  padding: 20px 0;
}

#photo {
  width: 400px;
}

#photoWrap {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

#photoList {
  width: 800px;
  height: 100px;
  display: flex;
  align-items: center;
}

#photoList li {
  width: 100px;
}

/* 갤러리슬라이드버튼 */
#btnWrap a {
  position: absolute;
  bottom: 20px;
  color: #000;
  font-size: 70px;
}

#btnWrap a.prevBtn {
  left: 30px;
}

#btnWrap a.nextBtn {
  right: 30px;
}